DB_TYPE=sqlite

# Connection details for PostgreSQL / MySQL
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=zero9repo

# Or directly configure the SQLAlchemy DATABASE_URL connection string
# DATABASE_URL=sqlite+aiosqlite:///./data/zero9repo.db
